.row-fluid
  - if !user_signed_in?
    .row
      = image_tag('fitbit_logo.jpeg')
    .row
      = link_to "Login with Fitbit", user_omniauth_authorize_path(:fitbit), class: 'btn'
  - else
    .row
      = image_tag('digimon_egg.jpg')
    .row
      %h1
        Steps
        = @client.activities_on_date(Date.current)['summary']['steps']
    .row
      %h1
        Fairly Active Minutes
        = @client.activities_on_date(Date.current)['summary']['fairlyActiveMinutes']
